body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
    /* Elimina el subrayado */
    font-size: 1.5rem;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 1rem;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    /* Elimina el subrayado */
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: #575757;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 1rem 0;
    text-align: center;
    /* Alineación centrada */
}

h2 {
    font-size: 2rem;
    color: #444;
    margin: 0.75rem 0;
    text-align: center;
    /* Alineación centrada */
}

h3 {
    font-size: 1.75rem;
    color: #555;
    margin: 0.5rem 0;
}

p {
    font-size: 1rem;
    color: #666;
    margin: 0.5rem 0;
    text-align: justify;
}

.div-img-cg {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    cursor: default !important;
}

.div-img-cg a {
    display: inline-block;
    cursor: default !important;
}

.div-img-cg img {
    width: 15%;
    filter: drop-shadow(-8px 8px 1px black);
    -webkit-transition: 0.5s ease;
    max-width: 100%;
    height: auto;
    cursor: pointer !important;
    padding: 2%;
}

.div-img-cg img:hover {
    transform: rotate3d(0, 0, 1, -90deg);
    filter: drop-shadow(3px -2px 1px black) !important;
}

.div-content-inicio img {
    width: 15%;
    filter: drop-shadow(-8px 8px 1px black);
    -webkit-transition: 0.5s ease;
    display: block;
    max-width: 100%;
    height: auto;
    cursor: pointer !important;
}

.div-content-inicio img:hover {
    transform: scale(1.5);
}

.div-img-perfil {
    cursor: default;
}

.div-img-perfil img {
    width: 150px;
    filter: drop-shadow(0px 26px 95px #54453f);
    -webkit-transition: 0.6s all;
    animation-duration: 0.6s;
    border-radius: 50%;
    filter: blur(2px);
    margin: 2% 15%;
    cursor: pointer;
}

.div-img-perfil img:hover {
    -webkit-transition: 0.6s ease-in-out;
    animation-duration: 0.6s;
    transform: scale(1.5);
    border-radius: 50%;
    filter: blur(0px);
}

.div-content {
    text-align: center;
}

.div-content-about-us a {
    cursor: default;
}

.stl-div-txt,
.div-text-cg {
    max-width: 40%;
    text-align: justify;
    margin: 0 auto;
}