body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
    /* Elimina el subrayado */
    font-size: 1.5rem;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 1rem;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    /* Elimina el subrayado */
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: #575757;
}

.div-text-interview {
    text-align: center;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 1rem 0;
    text-align: center;
    /* Alineación centrada */
}

h2 {
    font-size: 2rem;
    color: #444;
    margin: 0.75rem 0;
    text-align: center;
    /* Alineación centrada */
}

h3 {
    font-size: 1.75rem;
    color: #555;
    margin: 0.5rem 0;
}

p {
    font-size: 1rem;
    color: #666;
    margin: 0.5rem 0;
    text-align: center;
}